

@for (influcard of influcards; track $index) {

    <ul class="influcard-container">

        <div class="influcard">

            <div class="influcard-left">

                <div class="image-container">
                    <img [src]="influcard.account_picture" alt="Imagen">
                    <div class="overlay">ver influcard</div>
                </div>

                <div class="info">
                    <p>Info Línea 1</p>
                    <p>Info Línea 2</p>
                    <p>Info Línea 3</p>
                    <p>Info Línea 4</p>
                </div>

            </div>

            <div class="influcard-right">

                <div class="text-with-logo">
                    <i class="fa-solid fa-house fa-lg"></i>
                    <p>Texto relacionado</p>
                </div>

            </div>

        </div>

    </ul>
}



<!-- <p>¡INFLUCARD PRUEBAS!</p>

<div *ngFor="let item of influcard | keyvalue">
    {{ item.key }}: {{ item.value }}
</div>

<hr>

<h2>Momentos de publicación</h2>
<ul>
  <li *ngFor="let moment of influcard?.account_post_moment">
    Total: {{ moment.total }}
  </li>
</ul>

<hr>

<h2>Imagenes</h2>
<ul>
  <li *ngFor="let img of influcard?.brands_images">
    img-> {{ img.name }}
    <img [src]="img.image" alt="">
  </li>
</ul> -->