/* Header Section */

.header-info {
    display: flex;
    justify-content: space-between;
}

.account-info {
    display: flex;
    gap: 10px;
    flex: 1;
}

.title-username {
    font-size: 1.7rem;
}

.username-perfil {
    display: flex;
    flex-direction: column;
}

.personal-info {
    display: flex;
    gap: 4px;
}

.genero-edad {
    display: flex;
    gap: 4px;
    align-items: center;
}

.circle-big {
    position: relative;
    width: 52px;
    height: 52px;
    border-radius: 85px;
    top: 0;
    left: 0;
}

.circle-rrss {
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 85px;
    top: 0;
    left: 0;
}

.circle-mid {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 85px;
}

.circle-big > i,
.circle-mid > i {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.rrss-logo {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1000px-Instagram_logo_2022.svg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rrss-usuario {
    display: flex;
    align-items: center;
    gap: 6px;
}

.rrss-usuario > a {
    color: rgb(69, 69, 255) !important;
}

.img-perfil {
    position: relative;
    padding-left: 15px;
}

.img-perfil>img {
    width: 150px;
    border-radius: 100px 100px 40px 100px;
}

.perfil-info {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.header-stadistics {
    flex: 1;
    padding-top: 15px;
}

/* Header: Estadisticas circulares */
.flex-wrapper {
    display: flex;
}

.single-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.single-chart:nth-child(1) span {
    color: rgb(63, 63, 255);
}

.single-chart:nth-child(2) span {
    color: #cbcb00;
}

.single-chart:nth-child(3) span {
    color: lightseagreen;
}

.circular-chart text {
    stroke: var(--general-font-color);
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 30%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.blue .circle {
    stroke: rgb(63, 63, 255);
}

.circular-chart.yellow .circle {
    stroke: yellow;
}

.circular-chart.lightseagreen .circle {
    stroke: lightseagreen;;
}

.percentage {
    fill: var(--general-font-color);
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.menu-section {
    flex: 1;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.menu-list li {
    display: flex;
    align-items: center;
    gap: 3px;
}

.menu-list a {
    text-decoration: none;
}

/* Estilo fondo secciones */
.card-style {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 5px 20px -2px rgba(0,0,0,0.75);
}

/* Secciones principales */

.main-sections {
    display: flex;
    gap: 10px;
}

.audience-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 10px;
}

.audience-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.audiencia-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title-section {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.title-section span {
    font-size: var(--title-big-sections);
    font-weight: bold;
}

.distribution-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top: 10px;
    gap: 10px;
}

.distribution-container > span {
    font-size: var(--paragraph-big-size);
}

.distribution-list {
    width: 100%;
}

.distribution-list li {
    display: flex;
    align-items: center;
}

.distribution-list span, 
.distribution-list div:nth-child(1) {
    width: 10%;
}

.distribution-gender-country {
    display: flex;
    gap: 5px;
}

.distribution-gender-country > * {
    flex: 1;
}

.country-list {
    display: flex;
    gap: 5px;
}


.bar-container {
    width: 70%; /* Ancho total del contenedor */
    height: 10px; /* Altura de la barra */
    background-color: #cbe3ff; /* Color de fondo del contenedor */
    border-radius: 15px; /* Bordes redondeados */
    overflow: hidden; /* Esconder contenido desbordado */
    margin: 20px auto; /* Centramos la barra horizontalmente */
}

.bar {
    height: 100%;
    background-color: #00a2ff; /* Color de la barra */
    border-radius: 10px;
}





.posts-section {
    flex: 1;
}

.performance-section {
    flex: 1;
}