/* Encabezado estilos */

.header-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.account-info {
    display: flex;
    gap: 10px;
    flex: 1;
}

.title-username {
    font-size: 1.7rem;
}

.username-profile {
    display: flex;
    flex-direction: column;
}

.personal-info {
    display: flex;
    gap: 4px;
}

.genero-edad {
    display: flex;
    gap: 4px;
    align-items: center;
}

/* Secciones principales estilos */

/* Estilos circulos con logo general */
.circle-big {
    position: relative;
    width: 52px;
    height: 52px;
    border-radius: 85px;
    top: 0;
    left: 0;
}

.circle-rrss {
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 85px;
    top: 0;
    left: 0;
}

.circle-mid {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 85px;
}

.circle-big > i,
.circle-mid > i {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

/* Fondos logos en "circle-big" */
.bg-audicence, .bg-performance, .bg-engagement {
    background-color: rgb(0, 171, 228);
}

.bg-posts, .bg-views {
    background-color: rgb(0, 112, 169);
}

.bg-impressions {
    background-color: rgb(1, 66, 122);
}

.bg-reach {
    background-color: rgb(0, 37, 69);
}

.bg-audience-2 {
    background-color: rgb(0, 28, 52);
}

.rrss-logo {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1000px-Instagram_logo_2022.svg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rrss-user {
    display: flex;
    align-items: center;
    gap: 6px;
}

.rrss-user > a {
    color: rgb(69, 69, 255) !important;
}

.img-profile {
    position: relative;
    padding-left: 15px;
}

.img-profile>img {
    width: 150px;
    border-radius: 100px 100px 40px 100px;
}

.profile-info {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.header-stadistics {
    flex: 1;
    padding-top: 15px;
}

/* Header: Estadisticas circulares */
.flex-wrapper {
    display: flex;
}

.single-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.single-chart:nth-child(1) span {
    color: rgb(63, 63, 255);
}

.single-chart:nth-child(2) span {
    color: #cbcb00;
}

.single-chart:nth-child(3) span {
    color: lightseagreen;
}

.circular-chart text {
    stroke: var(--general-font-color);
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 30%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.blue .circle {
    stroke: rgb(63, 63, 255);
}

.circular-chart.yellow .circle {
    stroke: #e1d800;
}

.circular-chart.lightseagreen .circle {
    stroke: lightseagreen;;
}

.percentage {
    fill: var(--general-font-color);
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.menu-section {
    flex: 1;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.menu-list li {
    display: flex;
    align-items: center;
    gap: 3px;
}

.menu-list a {
    text-decoration: none;
}

/* Estilo fondo secciones */
.card-style {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.75);
}

/* Secciones principales */

.main-sections {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    gap: 10px;
}

/* Espaciado final para contenedor "Distribucion por edad" */
.main-section:nth-child(1) > div:nth-child(3) {
    padding-bottom: 80px;
}

.audience-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.audience-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title-section {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.title-section span {
    font-size: var(--title-big-sections);
    font-weight: bold;
}

/* Estilo general para los contenedores de graficas "amchart" */
.distribution-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 10px;
    gap: 10px;
    padding-bottom: 20px;
}

.distribution-container > span {
    font-size: var(--paragraph-big-size);
}

.distribution-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    gap: 20px;
}

.distribution-list li {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--paragraph-small-size);
    text-align: center;
}

.distribution-list span, 
.distribution-list div:nth-child(1) {
    flex: 0.2;
}

.distribution-gender-country {
    display: flex;
    gap: 5px;
}

.distribution-gender-country > * {
    flex: 1;
}

.country-list {
    display: flex;
    width: 20% !important;
    gap: 5px;
    align-items: center;
}

.distribution-country-bar {
    width: 60%;
} 

.bar-container {
    width: 70%;
    height: 10px;
    background-color: #cbe3ff;
    border-radius: 15px;
    overflow: hidden;
    flex: 1;
}

/* Estilo barra horizontal general (amchart) */
.bar {
    height: 100%;
    background-color: #00a2ff;
    border-radius: 10px;
}

/* Estilo barra amchart para distribucion por pais (amchart) */
.bar-country {
    height: 100%;
    background-color: #ff4343;
    border-radius: 10px;
}

/* Seccion de marcas con las que se ha trabajado */
.brands-list {
    display: flex;
    flex-wrap: wrap;
}

.brand-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.brand-item > img {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

/* DESEMPEÑO SECCION */

.performance-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}

.section-performance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.section-performance > div {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: var(--paragraph-big-size);
}

.section-info-performance {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.section-info-performance div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


