:root {
  --background-color: #000;
  --text-color: #fff;
}

/* Modo oscuro (temporal) */
body {
  background-color: var(--background-color)!important;
  color: var(--text-color)!important;
}

/* Modo esquema (temporal) */
* {
  background-color: rgb(0 110 0);
  border: 1px solid black;
}

ul {
  list-style: none;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

