:root {
  /* Borrar: Provisional para boceto (temporal) */
  /* --background-color: #000;
  --text-color: #fff; */

  /* Estilos generales: tamaños letras y colores */
  --title-big-sections: 1.5rem;
  --title-mid-sections: 1.4rem;
  --paragraph-big-size: 1.2rem;
  --paragraph-small-size: 0.8rem;
  --general-font-color: #666666;;
  --general-font-color-2: black;

}

/* Modo oscuro (temporal) */
/* body {
  background-color: var(--background-color)!important;
  color: var(--text-color)!important;
} */

* {
  /* Modo esquema (temporal) */
  /* background-color: rgb(0 110 0);
  border: 1px solid black; */

  color: var(--general-font-color);
}

/* Estilos de etiquetas generales */
ol, ul {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  list-style: none;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

a {
  text-decoration: none !important;
  color: var(--bs-body-color) !important;
}

